.container{
  height:100vh;
  width: 100vw;
  display: flex;
  align-items:center;
  justify-content: center;
}


.heart{
  height: 20px;
  width: 20px;
  background-color: black;
  position: relative;
  outline: none;
  transform: rotate(45deg);
  appearance: none;
  margin-top: 25px;
  margin-right: 25px;
}

.heart:before{
  position:absolute;
  content: "";
  background-color: black;
  height:60%;
  width:100%;
  top:-59%;
  border-radius: 75px 75px 0 0;
}

.heart:after{
  position: absolute;
  content: "";
  background-color: black;
  height:60%;
  width: 100%;
  transform: rotate(-90deg);
  border-radius:75px 75px 0 0;
  top:20%;
  right: 79%;
}

.heart:checked, 
.heart:checked:before,
.heart:checked:after {
  background-color: #fe0f42;
}