body {
  font-family: 'Roboto', Arial, sans-serif;
}

input[type=text] {
  width: 50%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  margin-bottom: 0.75cm;
  font-size: 1rem;
  align-items: center;
}

button {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}


.eclipse{
  border-radius: 20%;
  position: absolute;
  width: 300px;
  height: 450px;
  left: 80px;
  top: 255px;
  background-color:transparent;
  border: 2px solid #5D5A88;
}

.filter {
  position: absolute;
  width: 500px;
  height: 123px;
  left: 54px;
  top: 255px;
}

h4 {
  position: absolute;
  width: 55px;
  height: 18px;
  left: 145px;
  top: 0px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  
  color: #5D5A88;

}

.easy{
  position: absolute;
  width: 146px;
  height: 22.03px;
  left: 54px;
  top: 80px;
  background: #FFFFFF;
  border: #FFFFFF;
}

.checkbox{
  position: absolute;
  width: 20px;
  height: 17.03px;
  left: 15px;
  top: 0px;

  background:white;
}


.button{
  position: absolute;
  left: 500px;
  align-items:center;
}

.search-button {
  display: inline-block;
  padding: 10px 24px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #ddd5ff;
  border: none;
  border-radius: 12px;
  box-shadow: 0 5px #999;
  margin-left: 70px;
  margin-right:-50px; 
}



.search-button:hover {background-color: #cdc1ff}

.search-button:active {
  background-color: #cdc1ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}