.filter-components{

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* padding-left: -200px; */
    margin-left:0px;
    margin-bottom: 0px;
    color: #5D5A88;
}